@page
@{
    ViewData["Title"] = "Tests";
}
<table class="table">
    <thead id="head" style="background-color: red">
        <tr>
            <th>Suite</th>
            <th>Case</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody id="output">

    </tbody>
</table>
<script src="~/Pages/Tests.cshtml.js" type="module"></script>