@page
<form>
    <label for="input">input</label>
    <input type="text" id="input"/>
    <button type="submit" id="submit">Submit</button>
</form>
<ol id="output"></ol>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/pages/world.js" type="module"></script>